.error-container {
    background: #ffffff;
    border-radius: 7px;
    width: 50vw;
    margin-top: 20px;
    position: absolute;
    top: 20px;
    margin-left: 25vw;
}

h2.error-title {
    background: #4f005f;
    color: white;
    font-size: 20px;
    padding: 20px;
    margin: 0;
}

p.error-text {
    padding: 0px 20px;
    margin-bottom: 20px;
}



button.error-button {
    margin-left: 20px;
    margin-bottom: 20px;
    border: none;
    margin-left: 80%;
}

@media screen and (max-width: 542px) {
    .error-container {
        width: 90vw;
        margin-left: 5vw;
    }
}